.title {
  font-size: 32px;
  padding:10px;
	background-color: #8CBD82;
	color: black;
}

.header {
  padding-top: 5px;
  font-size: 40px;
	background-color: #8CBD82;
	color: black;
  width:100%;
  font-weight: bolder;
}

.competition-select-container {
  font-size: 14px;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
}

.App-header {
  background-color: #96E086;
  color: black;
}

.select-container {
  width: 70%;
  margin: 0 auto;
  display: inline-block;
}

.no-margin {
  margin: 0;
  padding: 0px;
}

.middle-container {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dropdown {
  background-color: #074407;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  color:gold;
}

.custom-dropdown {
  background-color: #222;
  width: 100%;
}

.row-centered {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

.centralized {
    position: absolute;
    margin: auto;
}

.competition-select-container {
  width: 40%;
}

.mid-content {
  height: 100%;
}

.footer {
	background-color: #6C8E67;
	color: black;
  position: fixed;
  bottom: 0;
	width:100%;
  height:5%;
  padding-top: 3px;
  font-weight: bold;
}