.scoreline {
	font-size: 26px;
	color:black;
	border-width: 2px;
	border-style: dashed;
	border-color: black;
	width: 80%;
	margin: 5 auto;
	display: inline-block;

}

.date {
	font-size: 12px;
}

.team-status {
	font-size: 14px;
	color: black;
}